{% extends "movist/layout.html" %}

{% block content %}

<form action="" method="get">
    <input type="text" name="query" placeholder="검색어를 입력해주세요." value="{{ request.GET.query }}" />
    <input type="submit" value="검색" />
    <!-- <button>검색</button> -->
</form>

<div class="row">
    {% for movie in movie_list %}
    <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.name }}" />
        <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="{% url "movie_detail" movie.pk %}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}